In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import env

Answer with the type of stats test you would use (assume normal distribution):

Is there a relationship between the length of your arm and the length of your foot?

length of arm: continuous
length of foot: continuous
continuous v continuous: pearson's r for correlation

Do guys and gals quit their jobs at the same rate?

quit/attrition : did the employee leave or not?
==> category
gender ==> categorical
cat vs cat ==> chi^2

Does the length of time of the lecture correlate with a students grade?

pearson's r

Do students get better test grades if they have a rubber duck on their desk?

t_test

Does smoking affect when or not someone has lung cancer?

chi^2

Is gender independent of a person’s blood type?

chi^2

A farming company wants to know if a new fertilizer has improved crop yield or not

t_test!

Do people with dogs live in apartments more than people with cats?

chi^2

Use the telco_churn data.
Does tenure correlate with monthly charges?

In [36]:
telco = pd.read_csv('/Users/madeleinecapper/Desktop/telco_churn.csv')

In [38]:
telco.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No

H$_0$: There is no linear realationship between tenure and monthly charges

H$_a$: There is a linear relationship between tenure and monthly charges

In [39]:
# Set an alpha for a 95% confidence level
α = 0.05

In [40]:
r, p = stats.pearsonr(telco.tenure, telco.MonthlyCharges)

In [41]:
if p < α:
    print('We can reject the null hypothesis!')

We can reject the null hypothesis!

In [42]:
p

4.094044991483017e-99

In [43]:
r

0.24789985628615246

Total charges?

In [45]:
# looks like total charges isnt a number yet.  Let's fix that!
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [48]:
telco.TotalCharges.value_counts()

20.2       11
           11
19.75       9
20.05       8
19.65       8
           ..
509.3       1
717.95      1
1429.65     1
4113.7      1
5127.95     1
Name: TotalCharges, Length: 6531, dtype: int64

In [51]:
telco.TotalCharges = (
    telco.TotalCharges + 
    '0').astype(float)

H$_0$: There is no linear realationship between tenure and total charges

H$_a$: There is a linear relationship between tenure and total charges

In [55]:
r, p = stats.pearsonr(telco.TotalCharges,
                     telco.tenure)
if p < α:
    print('We can reject the null hypothesis')

We can reject the null hypothesis

In [56]:
p

4.382201025222442e-254

In [57]:
r

0.38963197449414844

What happens if you control for phone and internet service?

In [62]:
internets = telco.InternetService.unique()

In [63]:
phones = telco.PhoneService.unique()

In [61]:
import itertools

In [67]:
combos = list(itertools.product(internets,phones))

In [17]:
# lets create a for loop for each of these combinations

In [66]:
telco[(telco['InternetService'] == 'DSL'
      )& (telco['PhoneService'] == 'No')]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.90,No
20,8779-QRDMV,Male,1,No,No,1,No,No phone service,DSL,No,...,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65,Yes
27,8665-UTDHZ,Male,0,Yes,Yes,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,No,Electronic check,30.20,30.20,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7003,4501-VCPFK,Male,0,No,No,26,No,No phone service,DSL,No,...,Yes,Yes,No,No,Month-to-month,No,Electronic check,35.75,1022.50,No
7007,2274-XUATA,Male,1,Yes,No,72,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),63.10,4685.55,No
7029,2235-DWLJU,Female,1,No,No,6,No,No phone service,DSL,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,44.40,263.05,No
7036,7750-EYXWZ,Female,0,No,No,12,No,No phone service,DSL,No,...,Yes,Yes,Yes,Yes,One year,No,Electronic check,60.65,743.30,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No

In [131]:
for combo in combos:
    subset = telco[(telco['InternetService'] == combo[0]
      )& (telco['PhoneService'] == combo[1])]
    print(combo)
    print(subset.shape)
    if (combo == ('Fiber optic', 'No')) or (combo == ('No', 'No')):
        pass
    else:
        r, p = stats.pearsonr(subset.tenure, 
                             subset.TotalCharges)
        if p < α:
            print(f'''
            we can reject the null hypothesis that
            there is no linear relationship between Internet
            Service Type {combo[0]} and Phone Service Type
            {combo[1]}''')

('DSL', 'No')
(682, 21)

            we can reject the null hypothesis that
            there is no linear relationship between Internet
            Service Type DSL and Phone Service Type
            No
('DSL', 'Yes')
(1739, 21)

            we can reject the null hypothesis that
            there is no linear relationship between Internet
            Service Type DSL and Phone Service Type
            Yes
('Fiber optic', 'No')
(0, 21)
('Fiber optic', 'Yes')
(3096, 21)

            we can reject the null hypothesis that
            there is no linear relationship between Internet
            Service Type Fiber optic and Phone Service Type
            Yes
('No', 'No')
(0, 21)
('No', 'Yes')
(1526, 21)

            we can reject the null hypothesis that
            there is no linear relationship between Internet
            Service Type No and Phone Service Type
            Yes

Use the employees database.
Is there a relationship between how long an employee has been with the company and their salary?

In [8]:
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'

In [24]:
query = '''
SELECT
    DATEDIFF((SELECT MAX(hire_date) 
    FROM employees), e.hire_date) AS tenure,
    s.salary AS salary
FROM employees e
JOIN salaries s USING (emp_no)
WHERE s.to_date > NOW()
'''
employees_with_salaries = pd.read_sql(query, url)

In [33]:
employees_with_salaries.head()

   tenure  salary
0    4964   88958
1    5181   72527
2    4901   43311
3    4806   74057
4    3790   94692

H$_0$: There is no linear relationship between tenure and salary

H$_a$: There is a linear relattionship between tenure and salary

In [74]:
r, p = stats.pearsonr(
    employees_with_salaries['tenure'],
employees_with_salaries['salary'])

In [76]:
p < α

True

In [77]:
r

0.30646256131860894

Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [25]:
query = '''
SELECT 
DATEDIFF(
(SELECT MAX(hire_date) FROM employees),
hire_date
) AS tenure, 
t.title_count
FROM employees e
JOIN (
SELECT 
emp_no, 
COUNT(*) 
title_count
FROM titles GROUP BY emp_no) t USING(emp_no)
ORDER BY title_count DESC;
'''
title_tenure = pd.read_sql(query, url)

In [32]:
title_tenure.head()

   tenure  title_count
0    3538            3
1    3966            3
2    3482            3
3    4299            3
4    4149            3

H$_0$ : There is no linear relationship between tenure and number of titles

H$_a$ : There is a linear relationship between tenure and number of titles

In [79]:
r, p = stats.pearsonr(title_tenure.tenure, title_tenure.title_count)
if p < α:
    print('we can reject the null hypothesis')

we can reject the null hypothesis

In [80]:
r

0.2665989299136884

Use the sleepstudy data.

Is there a relationship between days and reaction time?

In [81]:
from pydataset import data

In [82]:
sleep = data('sleepstudy')

In [84]:
sleep.columns

Index(['Reaction', 'Days', 'Subject'], dtype='object')

In [85]:
# H0 no linear relationship between reaction time and days
# Ha there is a linear relationship between reaction time and days

In [86]:
r, p = stats.pearsonr(sleep.Reaction, sleep.Days)
if p < α:
    print('we can reject the null hypothesis')

we can reject the null hypothesis

Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

In [87]:
observed = pd.DataFrame(
    {
        'codeup_student': [49,1],
        'not_student': [20,30]
    }, index=['macbook_user', 'not_macbook']
)

In [88]:
observed

              codeup_student  not_student
macbook_user              49           20
not_macbook                1           30

In [89]:
# H0: There is no dependence between being a codeup
# student and being a macbook user
# Ha: There is a dependence between being a codeup student
# and being a macbook user

In [90]:
chi2, p, _, expected = stats.chi2_contingency(observed)

In [91]:
chi2

36.65264142122487

In [92]:
p < α

True

In [93]:
p

1.4116760526193828e-09

In [94]:
expected

array([[34.5, 34.5],
       [15.5, 15.5]])

Choose another 2 categorical variables from the mpg dataset and perform a chi2 contingency table test with them. Be sure to state your null and alternative hypotheses.

In [95]:
mpg = data('mpg')

In [96]:
mpg.head(2)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact

In [98]:
observed = pd.crosstab(mpg.drv, mpg.year)

In [99]:
# H0: Drive and Year are independent of eachother
#Ha: Drive and Year have dependency

In [100]:
chi2, p, _, expected = stats.chi2_contingency(observed)
if p < α:
    print('we can reject the null hypothesis')
else:
    print('we fail to reject the null hypothesis')

we fail to reject the null hypothesis

In [101]:
p

0.547033073060878

In [103]:
# our p is too high to say with certainty that there is any type of 
# relationship going on here

In [102]:
chi2

1.206492031507602

Use the data from the employees database to answer these questions:

    Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)

In [31]:
query = ''' 
        select emp_no, gender, dept_name
        from employees
            join dept_emp
                using (emp_no)
            join departments
                using (dept_no)
        where to_date = '9999-01-01'
        and dept_name in ('Marketing','Sales')
        '''
gender_dept = pd.read_sql(query, url)

In [107]:
observed = pd.crosstab(gender_dept.gender, gender_dept.dept_name)

In [113]:
observed

dept_name  Marketing  Sales
gender
F               5864  14999
M               8978  22702

In [106]:
# H0: Gender and status in market or sales is independent
# Ha: Gender and status in marketing or sales is dependent

In [108]:
chi2, p, _, expected = \
stats.chi2_contingency(observed)

In [110]:
if p < α:
    print('reject the null')

In [111]:
p

0.5691938610810126

In [112]:
chi2

0.3240332004060638

Is an employee's gender independent of whether or not they are or have been a manager?

In [30]:
query = '''
        select emp_no, gender, dept_no
        from employees
            left join dept_manager
                using (emp_no)
        '''
gender_managers = pd.read_sql(query, url)

In [115]:
gender_managers.dept_no.value_counts()

d009    4
d004    4
d006    4
d003    2
d001    2
d005    2
d007    2
d008    2
d002    2
Name: dept_no, dtype: int64

In [120]:
gender_managers.dept_no.fillna('no').str.startswith('d').astype(int)

0         0
1         0
2         0
3         0
4         0
         ..
300019    0
300020    0
300021    0
300022    0
300023    0
Name: dept_no, Length: 300024, dtype: int64

0         0
1         0
2         0
3         0
4         0
         ..
300019    0
300020    0
300021    0
300022    0
300023    0
Name: dept_no, Length: 300024, dtype: object

In [121]:
gender_managers['manager'] = gender_managers.dept_no.fillna('no').str.startswith('d').astype(int)

In [122]:
gender_managers.manager.value_counts()

0    300000
1        24
Name: manager, dtype: int64

In [123]:
gender_managers.gender.value_counts()

M    179973
F    120051
Name: gender, dtype: int64

In [125]:
observed = pd.crosstab(gender_managers.gender,
                       gender_managers.manager)

In [126]:
chi2, p, _, expected = stats.chi2_contingency(observed)

In [127]:
p

0.22745818732810363

In [128]:
p < α

False

In [129]:
# We cannot reject the null hypothesis that there is no
# relationship between being a man or a woman and being a manager